#IDE and compiler intermediate files
*.ncb
*.sdf
*.opensdf
*.suo
*.ilk
*.idb
*.pdb
*.vcxproj.user
*.vcproj.*.user
*.ib_pdb_index

#Intermediate directories
DEM/Lib/
DEM/Obj/
Tools/Obj/
/Build

#Debug versions of binaries
*_d.exe
*_d.dll
*_d.exp
*_d.lib
