#IDE and compiler intermediate files
*.ncb
*.sdf
*.opensdf
*.suo
*.ilk
*.idb
*.pdb
*.vcxproj.user
*.vcproj.*.user
*.ib_pdb_index

#Intermediate directories
DEM/Lib/
DEM/Obj/
Tools/Obj/
/Build

#Debug versions of binaries
*_d.exe
*_d.dll
*_d.exp
*_d.lib

#3rdParty
/Deps/bullet/examples
/Deps/bullet/data
/Deps/bullet/docs
/Deps/bullet/test
/Deps/CEGUI/datafiles
/Deps/CEGUI/samples_framework
/Deps/CEGUI/samples
/Deps/DevIL/DevIL-docs
/Deps/CEGUI/build
/Deps/Downloads
/Deps/CEGUI-Deps
/Deps/CEGUI/dependencies
